## **Questão 01**

Percebe-se pelo condicional do "IF" que apenas os alunos que tiveram média abaixo de 6.5 terão "direito" de "fazer a recuperação". Portanto, apenas Carla e José terão suas notas substituídas.

Pela sequência "pop(1)" e "append", percebe-se que será apagada a nota da posição 1 (2a nota).

In [ ]:
Carla=[4.2,3.0,5.4]
Carla.pop(1)
Carla.append(9.0)
sum(Carla)/len(Carla)

6.2

In [ ]:
José=[5.2,4.3,7.0]
José.pop(1)
José.append(7.3)
sum(José)/len(José)

6.5

In [ ]:
turma=[6.2,6.5,6.5]
sum(turma)/len(turma)

6.3999999999999995

In [ ]:
q1="D"

## **Preparando o DF**

In [ ]:
import pandas as pd

df=pd.read_csv('https://github.com/marcelovc785/AP2_PML_8001/raw/main/IDSC_BR_AP2_E01d2G01.csv', encoding='ISO-8859-1', sep=';', decimal=',')
df.head()

,id,Territorialidade,População_Ref,Pontuação Indice ODS 2022,Classificação 2022,2022 ODS 1,2022 ODS 3,2022 ODS 5,Pontuação Indice ODS 2019,Classificação 2019,2019 ODS 1,2019 ODS 3,2019 ODS 5
0,5200050.0,;Abadia de Goiás;GO;CO;,19128.0,48.06,2226.0,42.39,64.57,33.67,48.63,2109.0,44.36,39.52,33.67
1,3100104.0,;Abadia dos Dourados;MG;SE;,6272.0,45.65,3143.0,51.21,65.08,16.16,46.84,2688.0,53.63,69.53,16.16
2,5200100.0,;Abadiânia;GO;CO;,17228.0,49.36,1773.0,44.83,76.23,27.80,50.11,1648.0,43.71,60.24,27.80
3,3100203.0,;Abaeté;MG;SE;,22675.0,52.73,899.0,47.13,77.96,15.08,49.59,1801.0,47.60,57.21,15.08
4,1500107.0,;Abaetetuba;PA;N;,158188.0,37.92,5293.0,38.08,71.62,20.20,38.11,5215.0,37.64,56.52,20.20

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5570 non-null   float64
 1   Territorialidade           5570 non-null   object
 2   População_Ref              5570 non-null   float64
 3   Pontuação Indice ODS 2022  5570 non-null   float64
 4   Classificação 2022         5570 non-null   float64
 5   2022 ODS 1                 5570 non-null   float64
 6   2022 ODS 3                 5570 non-null   float64
 7   2022 ODS 5                 5570 non-null   float64
 8   Pontuação Indice ODS 2019  5570 non-null   float64
 9   Classificação 2019         5570 non-null   float64
 10  2019 ODS 1                 5570 non-null   float64
 11  2019 ODS 3                 5570 non-null   float64
 12  2019 ODS 5                 5570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 566.0+ KB

In [ ]:
df.isnull().sum()

id                           2
Territorialidade             2
População_Ref                2
Pontuação Indice ODS 2022    2
Classificação 2022           2
2022 ODS 1                   2
2022 ODS 3                   2
2022 ODS 5                   2
Pontuação Indice ODS 2019    2
Classificação 2019           2
2019 ODS 1                   2
2019 ODS 3                   2
2019 ODS 5                   2
dtype: int64

In [ ]:
df=df.dropna()
df.isnull().sum()

id                           0
Territorialidade             0
População_Ref                0
Pontuação Indice ODS 2022    0
Classificação 2022           0
2022 ODS 1                   0
2022 ODS 3                   0
2022 ODS 5                   0
Pontuação Indice ODS 2019    0
Classificação 2019           0
2019 ODS 1                   0
2019 ODS 3                   0
2019 ODS 5                   0
dtype: int64

In [ ]:
df.Territorialidade.str.split(';',expand=True)

     0                     1   2   3 4
0            Abadia de Goiás  GO  CO
1        Abadia dos Dourados  MG  SE
2                  Abadiânia  GO  CO
3                     Abaeté  MG  SE
4                 Abaetetuba  PA   N
...  ..                  ...  ..  .. ..
5565             Xique-Xique  BA  NE
5566                  Zabelê  PB  NE
5567                Zacarias  SP  SE
5568                 Zé Doca  MA  NE
5569                  Zortéa  SC   S

[5570 rows x 5 columns]

In [ ]:
df['Cidade']=df.Territorialidade.str.split(';',expand=True)[1]
df['UF']=df.Territorialidade.str.split(';',expand=True)[2]
df['Região']=df.Territorialidade.str.split(';',expand=True)[3]
df.head()

,id,Territorialidade,População_Ref,Pontuação Indice ODS 2022,Classificação 2022,2022 ODS 1,2022 ODS 3,2022 ODS 5,Pontuação Indice ODS 2019,Classificação 2019,2019 ODS 1,2019 ODS 3,2019 ODS 5,Cidade,UF,Região
0,5200050.0,;Abadia de Goiás;GO;CO;,19128.0,48.06,2226.0,42.39,64.57,33.67,48.63,2109.0,44.36,39.52,33.67,Abadia de Goiás,GO,CO
1,3100104.0,;Abadia dos Dourados;MG;SE;,6272.0,45.65,3143.0,51.21,65.08,16.16,46.84,2688.0,53.63,69.53,16.16,Abadia dos Dourados,MG,SE
2,5200100.0,;Abadiânia;GO;CO;,17228.0,49.36,1773.0,44.83,76.23,27.80,50.11,1648.0,43.71,60.24,27.80,Abadiânia,GO,CO
3,3100203.0,;Abaeté;MG;SE;,22675.0,52.73,899.0,47.13,77.96,15.08,49.59,1801.0,47.60,57.21,15.08,Abaeté,MG,SE
4,1500107.0,;Abaetetuba;PA;N;,158188.0,37.92,5293.0,38.08,71.62,20.20,38.11,5215.0,37.64,56.52,20.20,Abaetetuba,PA,N

In [ ]:
#Parâmetros do simulado
#ano1: 2019
#ano2: 2022
#coluna1: ODS 1
#coluna2: ODS 3
#coluna3: ODS 5

Como a coluna '2022 ODS 5' e a coluna '2019 ODS 5' estão IGUAIS, vou trocar o ENUNCIADO e vamos considerar a coluna do ODS 3 para verificar essa taxa de crescimento

In [ ]:
df['taxa_col2']=(df['2022 ODS 3'] - df['2019 ODS 3'])/df['2019 ODS 3']
df.head()

,id,Territorialidade,População_Ref,Pontuação Indice ODS 2022,Classificação 2022,2022 ODS 1,2022 ODS 3,2022 ODS 5,Pontuação Indice ODS 2019,Classificação 2019,2019 ODS 1,2019 ODS 3,2019 ODS 5,Cidade,UF,Região,taxa_col3,taxa_col2
0,5200050.0,;Abadia de Goiás;GO;CO;,19128.0,48.06,2226.0,42.39,64.57,33.67,48.63,2109.0,44.36,39.52,33.67,Abadia de Goiás,GO,CO,0.0,0.633856
1,3100104.0,;Abadia dos Dourados;MG;SE;,6272.0,45.65,3143.0,51.21,65.08,16.16,46.84,2688.0,53.63,69.53,16.16,Abadia dos Dourados,MG,SE,0.0,-0.064001
2,5200100.0,;Abadiânia;GO;CO;,17228.0,49.36,1773.0,44.83,76.23,27.80,50.11,1648.0,43.71,60.24,27.80,Abadiânia,GO,CO,0.0,0.265438
3,3100203.0,;Abaeté;MG;SE;,22675.0,52.73,899.0,47.13,77.96,15.08,49.59,1801.0,47.60,57.21,15.08,Abaeté,MG,SE,0.0,0.362699
4,1500107.0,;Abaetetuba;PA;N;,158188.0,37.92,5293.0,38.08,71.62,20.20,38.11,5215.0,37.64,56.52,20.20,Abaetetuba,PA,N,0.0,0.267162

In [ ]:
df.columns

Index(['id', 'Territorialidade', 'População_Ref', 'Pontuação Indice ODS 2022',
       'Classificação 2022', '2022 ODS 1', '2022 ODS 3', '2022 ODS 5',
       'Pontuação Indice ODS 2019', 'Classificação 2019', '2019 ODS 1',
       '2019 ODS 3', '2019 ODS 5', 'Cidade', 'UF', 'Região', 'taxa_col3',
       'taxa_col2'],
      dtype='object')

In [ ]:
df2=df.filter(items=['Região', 'UF', 'Cidade', 'População_Ref',
                     'Pontuação Indice ODS 2022','Classificação 2022',
                     '2022 ODS 1', '2022 ODS 3', '2022 ODS 5',
                     'Pontuação Indice ODS 2019', 'Classificação 2019',
                     '2019 ODS 1', '2019 ODS 3', '2019 ODS 5',
                     'taxa_col3', 'taxa_col2'])
df2.head()

,Região,UF,Cidade,População_Ref,Pontuação Indice ODS 2022,Classificação 2022,2022 ODS 1,2022 ODS 3,2022 ODS 5,Pontuação Indice ODS 2019,Classificação 2019,2019 ODS 1,2019 ODS 3,2019 ODS 5,taxa_col3,taxa_col2
0,CO,GO,Abadia de Goiás,19128.0,48.06,2226.0,42.39,64.57,33.67,48.63,2109.0,44.36,39.52,33.67,0.0,0.633856
1,SE,MG,Abadia dos Dourados,6272.0,45.65,3143.0,51.21,65.08,16.16,46.84,2688.0,53.63,69.53,16.16,0.0,-0.064001
2,CO,GO,Abadiânia,17228.0,49.36,1773.0,44.83,76.23,27.80,50.11,1648.0,43.71,60.24,27.80,0.0,0.265438
3,SE,MG,Abaeté,22675.0,52.73,899.0,47.13,77.96,15.08,49.59,1801.0,47.60,57.21,15.08,0.0,0.362699
4,N,PA,Abaetetuba,158188.0,37.92,5293.0,38.08,71.62,20.20,38.11,5215.0,37.64,56.52,20.20,0.0,0.267162

## **Questão 02**

### **Q02 item 01**

01) O estado da região Sudeste que teve o menor valor na média da “Coluna 2 do Ano2”, organizada por “UF” foi Minas Gerais.

Coluna 2 do Ano2 = 2022 ODS 3

In [ ]:
df_SE=df2.where(df2['Região']=='SE').dropna()

In [ ]:
df_SE.groupby('UF')['2022 ODS 3'].mean().sort_values()

UF
ES    68.133846
RJ    69.518152
MG    72.152110
SP    72.278031
Name: 2022 ODS 3, dtype: float64

In [ ]:
q2_1='Falso'

### **Q02 item 02**

02) O valor da “Coluna2 do Ano1” da cidade do estado que reponde corretamente o item anterior, e que teve o valor da “Coluna2 do Ano2” mais próximo da média do estado, foi 57.05.

* Coluna2 do Ano1 = 2019 ODS 3
* Coluna2 do Ano2 = 2022 ODS 3

In [ ]:
df_SE.loc[df_SE['2022 ODS 3']
                     <= 68.133846].sort_values(by='2022 ODS 3', ascending=False)

,Região,UF,Cidade,População_Ref,Pontuação Indice ODS 2022,Classificação 2022,2022 ODS 1,2022 ODS 3,2022 ODS 5,Pontuação Indice ODS 2019,Classificação 2019,2019 ODS 1,2019 ODS 3,2019 ODS 5,taxa_col3,taxa_col2
1989,SE,MG,Guanhães,32244.0,50.96,1313.0,49.04,68.13,21.70,46.99,2649.0,48.26,50.48,21.70,0.0,0.349643
3398,SE,MG,Novo Cruzeiro,26975.0,44.76,3484.0,42.90,68.13,15.75,45.02,3304.0,38.94,59.17,15.75,0.0,0.151428
3087,SE,SP,Mirandópolis,27983.0,55.50,486.0,55.09,68.13,20.67,55.03,661.0,54.00,49.24,20.67,0.0,0.383631
3989,SE,MG,Pouso Alto,6566.0,44.01,3735.0,57.27,68.12,34.33,46.05,2963.0,60.09,42.70,34.33,0.0,0.595316
4128,SE,RJ,Resende,129612.0,55.32,503.0,54.65,68.11,43.49,58.19,242.0,53.16,58.76,43.49,0.0,0.159122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2062,SE,SP,Holambra,15119.0,55.16,527.0,51.26,49.59,28.14,58.97,182.0,52.48,60.31,28.14,0.0,-0.177748
1992,SE,SP,Guapiara,17071.0,49.38,1768.0,47.42,49.44,27.45,51.41,1320.0,48.97,58.96,27.45,0.0,-0.161465
2784,SE,ES,Linhares,166786.0,46.56,2784.0,48.54,49.08,21.42,48.27,2231.0,48.70,45.14,21.42,0.0,0.087284
3595,SE,SP,Paranapuã,4031.0,53.12,815.0,62.66,48.58,7.41,53.79,865.0,62.91,48.34,7.41,0.0,0.004965
1722,SE,SP,Estrela d'Oeste,9417.0,57.38,234.0,63.19,46.72,0.77,55.11,648.0,61.16,54.68,0.77,0.0,-0.145574

**Não vou usar esse resultado obtido acima**

In [ ]:
df_ES=df2.where(df2['UF']=='ES').dropna()

In [ ]:
df_ES['2022 ODS 3'].loc[df_ES['2022 ODS 3']
                     <= 68.133846].sort_values(ascending=False).head(3)

5461    67.74
3064    67.47
5512    67.29
Name: 2022 ODS 3, dtype: float64

In [ ]:
68.133846-67.74

0.3938460000000106

In [ ]:
df_ES['2022 ODS 3'].loc[df_ES['2022 ODS 3']
                     > 68.133846].sort_values().head(3)

5012    68.31
78      68.34
2307    68.44
Name: 2022 ODS 3, dtype: float64

In [ ]:
68.133846-68.31

-0.1761539999999968

In [ ]:
df_ES.loc[5012,'2019 ODS 3']

56.05

In [ ]:
q2_2='Falso'

### **Q02 item 04**

04) A cidade do estado do Rio de Janeiro que teve o menor crescimento da “Coluna 3” entre os anos 1 e 2 foi Belford Roxo.

In [ ]:
var2_4=df2['Cidade'].loc[df2['taxa_col2']
                     == df2.where(df2['UF']=='RJ')
                     ['taxa_col2'].min()]
var2_4

3042    Mendes
Name: Cidade, dtype: object

In [ ]:
q2_4='Falso '

### **Q02 item 08**

08) A “Classificação 2023” da cidade que responde corretamente o item anterior foi 1495.

In [ ]:
df2.loc[3042,'Classificação 2022']

1441.0

In [ ]:
# ... ou...

df2['Classificação 2022'].loc[df2['taxa_col2']
                     == df2.where(df2['UF']=='RJ')
                     ['taxa_col2'].min()]

3042    1441.0
Name: Classificação 2022, dtype: float64

In [ ]:
q2_8='Falso'

### **Q02 item 16**

Q16) Aproximadamente, a média da "Coluna3" entre os anos 1 e 2 da região Nordeste foi 42.49. (utilize o Dataframe “df” para encontrar esse valor)

In [ ]:
df2['media_col3']=(df2['2022 ODS 5'] + df2['2019 ODS 5'])/2
df2.head()

,Região,UF,Cidade,População_Ref,Pontuação Indice ODS 2022,Classificação 2022,2022 ODS 1,2022 ODS 3,2022 ODS 5,Pontuação Indice ODS 2019,Classificação 2019,2019 ODS 1,2019 ODS 3,2019 ODS 5,taxa_col3,taxa_col2,media_col3
0,CO,GO,Abadia de Goiás,19128.0,48.06,2226.0,42.39,64.57,33.67,48.63,2109.0,44.36,39.52,33.67,0.0,0.633856,33.67
1,SE,MG,Abadia dos Dourados,6272.0,45.65,3143.0,51.21,65.08,16.16,46.84,2688.0,53.63,69.53,16.16,0.0,-0.064001,16.16
2,CO,GO,Abadiânia,17228.0,49.36,1773.0,44.83,76.23,27.80,50.11,1648.0,43.71,60.24,27.80,0.0,0.265438,27.80
3,SE,MG,Abaeté,22675.0,52.73,899.0,47.13,77.96,15.08,49.59,1801.0,47.60,57.21,15.08,0.0,0.362699,15.08
4,N,PA,Abaetetuba,158188.0,37.92,5293.0,38.08,71.62,20.20,38.11,5215.0,37.64,56.52,20.20,0.0,0.267162,20.20

In [ ]:
df2.groupby('Região')['media_col3'].mean()

Região
CO    30.201510
N     31.579756
NE    18.202651
S     23.677674
SE    24.518708
Name: media_col3, dtype: float64

In [ ]:
q2_16='Falso'

## **Se eu quisesse encontrar a porcentagem de cidades da Região Sudeste estão abaixo da média da Região Nordeste?**

In [ ]:
var2_extra=df_SE['Cidade'].loc[df_SE['media_col3']
                     < 18.202651]
var2_extra.count()

461

In [ ]:
len(df_SE)

1668

In [ ]:
100*(var2_extra.count()/len(df_SE))

27.637889688249402

## **Q03** --> em breve

## **Q04** --> em breve